{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": "off",
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "eol-last": "off",
    "brace-style": "off",
    "arrow-parens": "off"
  },
  "extends": ["eslint:recommended", "google"]
}